<div class="container">
    <div class="row mt-4 text-center">
        <div class="col">
            <img src="img/Profil.jpg" alt="Fullo" class="img-thumbnail rounded-circle" width="150">
            <div class="display-4">Mohammad Taufik Saefulloh</div>
            <div class="lead">Developer || Cloud Enthusiast</div>
        </div>
    </div>
</div>