<div class="container">
    <div class="row mt-4">
        <div class="col-md-8">
            <h1>Tambah Data Contact</h1>
            <form method="post" action="/contact">
            <% if (typeof errors != 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <% errors.forEach(error => { %>
                         <li><%= error.msg %> </li>
                        <% }) %>
                    </ul>
                </div>                               
            <% } %>
                <div class="mb-3">
                  <label for="nama" class="form-label">Nama</label>
                  <input type="text" class="form-control" id="nama" name="nama" placeholder="Masukan Nama" required>
                </div>
                <div class="mb-3">
                  <label for="nohp" class="form-label">No Hp</label>
                  <input type="text" class="form-control" id="nohp" name="nohp" placeholder="Masukan No Hp" required>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Masukan Email" required>
                </div>
                <div class="mb-3">
                  <label for="domisili" class="form-label">Domisili</label>
                  <input type="text" class="form-control" id="domisili" name="domisili" placeholder="Masukan Domisili" required>
                </div>
                <a href="/contact" type="button" class="btn btn-primary col-md-5">Batal</a>
                <button type="submit" class="btn btn-primary col-md-5 offset-1">Submit</button>
            </form>
        </div>
    </div>
</div>